@using MusicApp.Web.ViewModels.Playlists
@model CreatePlaylistViewModel

@{
    ViewData["Title"] = "Create New Playlist";
}

<style>
    .scrollable-checkboxes {
        max-height: 210px;
        overflow-y: auto;
        padding: 8px;
        border-radius: 5px;
    }

        .scrollable-checkboxes > div {
            margin-bottom: 12px;
            display: flex;
            align-items: center;
            gap: 8px; 
        }

        .scrollable-checkboxes input.form-check-input {
            position: static; 
            transform: none; 
            margin: 0; 
        }


</style>

<link href="~/css/style.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-4">
        <section>
<form asp-action="New" method="post">
    <h1>Create New Playlist</h1>
    <hr/>
    <div class="mb-3">
        <label asp-for="Title" class="form-label">Playlist Title</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ImageUrl" class="form-label">Cover Image URL</label>
        <input asp-for="ImageUrl" class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Select Songs</label>
         <div class="form-check scrollable-checkboxes">
            @foreach (var song in Model.Songs)
            {
                <div>
                    <input class="form-check-input" type="checkbox"
                           name="SelectedSongsIds"
                           value="@song.Id"
                           id="song-@song.Id" />
                    <label class="form-check-label" for="song-@song.Id">
                       <img src="@song.ImageUrl" style="height:40px;" />
                        @song.Title
                    </label>
                </div>
            }
        </div>
    </div>

    <button id="btn-add" type="submit" class="btn btn-success">Create Playlist</button>
</form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
