html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: #111;
}

main {
    overflow-x: hidden;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.col-md-4 {
    margin: 0 auto;
    border: 1px solid #4A5C6A;
    padding: 30px;
    border-radius: 10px;
    background-color: #111;
    box-shadow: 0 0 15px #4A5C6A;
    animation: pulseGlow 2.5s ease-in-out infinite;
}

@keyframes pulseGlow {
    0%, 100% {
        box-shadow: 0 0 10px #4A5C6A;
    }

    50% {
        box-shadow: 0 0 20px #4A5C6A;
    }
}

h1 {
    color: white;
    text-align: center;
    margin-bottom: 1rem;
}

form {
    width: 100%;
    color: #fff;
}

.form-floating {
    margin-bottom: 1rem;
}

.form-control {
    background: #222;
    border: none;
    color: #fff;
}

    
    .form-control:focus {
        background: #222;
        color: #fff;
        border-color: #4A5C6A !important;
        box-shadow: 0 0 0 0.25rem rgba(74, 92, 106, 0.25) !important;
        outline: none;
    }

label {
    color: #aaa;
}

.text-danger {
    color: #ff4d4d;
}

#registerSubmit, #login-submit, #save-changes, #btn-add {
    margin-top: 10px;
    background-color: #4A5C6A;
    border-color: #4A5C6A;
    color: white;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

    
    #registerSubmit:hover, #login-submit:hover, #save-changes:hover, #btn-add:hover {
        background-color: #2c363d;
        border-color: #2c363d;
    }

    #registerSubmit:active, #login-submit:active, #save-changes:active, #btn-add:active, #btn-cancel:active,
    #registerSubmit:focus, #login-submit:focus, #save-changes:focus, #btn-add:focus, #btn-cancel:focus {
        background-color: inherit; 
        color: inherit; 
        border-color: inherit; 
        outline: none; 
        box-shadow: none; 
    }

.alert {
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: 0.375rem;
    font-weight: 600;
    text-align: center;
}

.alert-success {
    background-color: #4caf50;
    color: white;
}

.link {
    color: #4A5C6A;
    text-decoration: none;
}

    .link:hover {
        color: #2c363d;
        text-decoration: underline;
    }

#btn-cancel {
    background-color: #4A5C6A;
    color: white;
    border-radius: 6px;
    padding: 10px 16px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

    #btn-cancel:hover {
        background-color: #2c363d;
        border-color: #2c363d;
    }
