@{
    ViewBag.Title = "Server Error";
}

<link href="~/css/errors.css" rel="stylesheet" />

<div class="error-container">
    <h1>500 - Server Error</h1>
    <p>Something went wrong on our end. We're working on it.</p>
    <a class="button" href="~/Home/Index">Go to Home</a>
</div>
