@{
    ViewBag.Title = "Bad Request Error";
}

<link href="~/css/errors.css" rel="stylesheet" />

<div class="error-container">
    <h1>400 - Bad Request Error</h1>
    <p>The server could not understand your request due to invalid syntax. Please check your input and try again.</p>
    <a class="button" href="~/Home/Index">Go to Home</a>
</div>
