@{
    ViewData["Title"] = "Account Deactivated";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<div class="container text-center mt-5">
    <h1 class="text-danger">Account Deactivated</h1>
    <p class="lead mt-3">
        Your account has been deactivated. Please contact support or an administrator for assistance.
    </p>
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary mt-4">Return to Home</a>
</div>

